{% extends 'base_page.html' %}
{% load staticfiles %}

{% block main_content %}
<div class="row">
  <div class="img-container">
    <img class="img-responsive" src="{% static 'images/home_page/Mock2.png' %}">
  </div>
</div>

<div id="intro-section">
  <div class="row">
    <div id="intro" class="col-md-8 col-md-offset-2">
      <div class="section-title">
        <span class="special-title">Introducing</span> A LIST
      </div>
      <div class="text-body">
        <p>A powerful but simple-to-use web application capable of organizing people and materials for your business and your life. Our team of professionals set out to build a platform capable of managing guests, employees, and materials for festivals and night clubs, but in doing so have created a robust tool with applications for almost any type of business.</p>
        <br />
        <p>Whatever your industry, A LIST manages the four basic questions about any person affiliated with your business: Who are they? Where do they go? What do they get? Are they here? And then five questions about any materials: What is it? Where does it go? How many are there supposed to be? Is it here? Do I need it back?</p>
        <br />
        <p>Building from those simple questions, we’ve created planning, grouping, time stamping, and reporting tools that give you full control of everything; from your desktop, your tablet, or your mobile device. <br/ > Start using A LIST today - be organized by tomorrow!</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="img-container">
      <img class="img-responsive" src="{% static 'images/home_page/MOCK_451545.png' %}">
    </div>
  </div>

  <div id="intro-info-section">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="intro-info">
          <img src="{% static 'images/home_page/personnel.png' %}">
          <div class="intro-info-title">Manage Personnel</div>
          <div class="title-line"></div>
          <div class="info-text">
            <p>Organize people by events. Create lists, group names, assign access, equipment, or giveaways to guests and employees.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="intro-info">
          <img src="{% static 'images/home_page/materials.png' %}">
          <div class="intro-info-title">Track Equipment &amp; Materials</div>
          <div class="title-line"></div>
          <div class="info-text">
            <p>Create inventory lists, assign items to events, group them within the event, track arrival and departure. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 split-line"></div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="intro-info">
          <img src="{% static 'images/home_page/admins.png' %}">
          <div class="intro-info-title">Assign Users and Admins</div>
          <div class="title-line"></div>
          <div class="info-text">
            <p>Set distinct admin or read only privileges for all events, lists, and groups within your account. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="intro-info">
          <img src="{% static 'images/home_page/reports.png' %}">
          <div class="intro-info-title">Generate Reports</div>
          <div class="title-line"></div>
          <div class="info-text">
            <p>See the results of all system activity, including time stamping of the arrival and departure of key elements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="webapp-section">
  <div class="row">
    <div id="webapp" class="col-md-8 col-md-offset-2">
      <div class="section-title">
        <span class="special-title">The Anywhere</span> Web App
      </div>
      <div class="text-body">
        <p>Whether you’re at your desktop, in the field, or on the run, your A LIST account can be accessed and edited from any device. From planning ahead, to the day of, and even on the job, our interface adapts to any screen, and allows you real time editing from anywhere.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="img-container">
      <img class="img-responsive" src="{% static 'images/home_page/webapp.png' %}">
    </div>
  </div>
</div>

<div id="endless-section">
  <div class="row">
    <div id="endless" class="col-md-8 col-md-offset-2">
      <div class="section-title">
        <span class="special-title">Endless</span> Potential
      </div>
      <div class="text-body">
        <p>The level of customization within the A LIST system allows for virtually endless possibilities. Adaptable to any type of business, how you use A List is as wide open as your imagination. Here are just a few of the ways A LIST can help you.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-sm-push-7 endless-info">
      <div class="endless-info-title">Event Management</div>
      <div class="endless-info-text">
        <p>From music festivals to night clubs, banquets to political functions, sporting events to summer camps, and everything in between, A LIST allows you to fully organize the people, materials, and equipment related to your event.</p>
      </div>
    </div>
    <div class="col-sm-7 col-sm-pull-5 padding-0 margin-bot-10">
      <img class="img-responsive" src="{% static 'images/home_page/eventmanage.png' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 endless-info">
      <div class="endless-info-title">Labor Management</div>
      <div class="endless-info-text">
        <p>Whatever type of staffing you provide, A LIST is the perfect tool to organize your labor force. You can assign personnel by event, create distinct groups within the event, time stamp arrival and departure for payroll, and even sign equipment in and out in real time.</p>
      </div>
    </div>
    <div class="col-sm-7 padding-0 margin-bot-10">
      <img class="img-responsive" src="{% static 'images/home_page/labormanage.png' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-sm-push-7 endless-info">
      <div class="endless-info-title">Equipment &amp; Materials</div>
      <div class="endless-info-text">
        <p>Caterers, production companies, retail stores, and more can use A LIST to organize every job. Assign anything in your inventory to an event, group it how you’d like, list the unit type and quantities, and even determine whether the item needs to be returned. As the items are checked in or out, you can see in real time everything that’s happening on the job.</p>
      </div>
    </div>
    <div class="col-sm-7 col-sm-pull-5 padding-0 margin-bot-10">
      <img class="img-responsive" src="{% static 'images/home_page/matandequipmanage.png' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 learn-more">
      <p>A LIST was designed to be fast, flexible, and fully customizable; giving it an almost unlimited number of uses and applications. From large businesses to personal use,<br /><span>organizing just got easier.</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-5 learn-btn">
      <a href="{% url 'about' %}"><button class="btn clear-btn">Learn more</button></a>
    </div>
  </div>
</div>

<div id="contact-section">
  <div class="row">
    <div class="img-container parent">
      <img class="img-responsive" src="{% static 'images/home_page/register.png' %}">
      <div class="contact-section-info child">
        <div class="contact-title">Ready to get organized?</div>
        <div class="contact-text">Our advisors are waiting to talkto you about how you can put A LIST to work for your business!</div>
      </div>
      <div class="row contact-btn">
        <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
          <button class="btn clear-btn">contact</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer-section">
  <div class="row">
    <div class="footer-info">/A List All Rights Reserved | 2016</div>
  </div>
</div>

{% endblock main_content %}





{% block extra_footer_js %}


{% endblock extra_footer_js %}

