{% extends 'base.html' %}

{% block main_content %}

<form id="create-acct-admin" method="post" action="/accounts/invite-user/">
  {% csrf_token %}

  <h3>Invite A User</h3>
  <div class="user-form">
    {% for field in invite_user_form %}
      <div>
        <label>{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="submit-btn">
    <input type="submit" value="Send Invite" />
    {% if error %}
      <div class="err">{{ error }}</div>
    {% endif %}
  </div>
</form>

{% endblock main_content %}