{% extends 'base.html' %}

{% block main_content %}

<form id="reset-form" method="post" action="">
  {% csrf_token %}
  {% for field in form %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <label>{{ field.label }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {{ field }}
      </div>
    </div>
    <br />
  {% endfor %}

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" class="sd-btn">Change Password</button>
    </div>
  </div>

  {% if error %}
    <div class="err">{{ error }}</div>
  {% endif %}
</form>

{% endblock main_content %}